body {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;
}

h1 {
  font-size: 90px;
  text-align: center;
font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Mansalva', cursive;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
h3{
  font-family: monospace;
  font-size: 28px;
}

.photo{
position: fixed;
  left: 20px;
  top: 15px;
}

p {
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-size: 35px;
  margin-bottom: 0;
  padding-bottom: 25px;

}
li{
  font-family: 'Grand Hotel', cursive;
  font-size: 30px;
}

.top-container {
  background-color: #a8e6cf;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}
.contact-me{
    background-color: #a8e6cf;
    padding-top: 25px;
}

.bottom-container {
  background-color: #a8e6cf;
}


  .bird1{
    position: absolute;
  }
  .bird2{
    position: absolute;
  }
  .bird3{
    position: absolute;
  }
  .bird4{
    position: absolute;
  }
  .bird5{
    position: absolute;
  }





.sun{
  position: absolute;
  left: 450px;
}
.mount{
  position: relative;
  left: 450px;
}
.hiker{
  position: relative;
  right: 175px;
}




.top-cloud {
  position: absolute;
  right: 550px;
  color: white;
}
.top-cloud2{
  position: absolute;
  left: 150px;
}
.top-cloud3{
  position: absolute;
  right: 150px;
  top: 250px;
}




.bottom-cloud {
  position: absolute;
}


.atom{
  position: relative;
  left: 80px;


}
.python{
  position: relative;
  right: 1000px;
  bottom: 50px;

}
.html{
  position: relative;
  top: 150px;
  left: 750px;
}
hr{
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  border-style: none;
  border-top: dotted;
  border-color: #ededed;
  border-width: 7px;
  width: 7%;
}
